/* MOBILE VIEWPORT */
@media only screen and (max-width: 84em) {
    .indexSection .text h2 {
        font-size: 5.6rem;
    }

    .timelineBox {
        width: 100%;
    }

    .date1::after,
    .date2::before,
    .date3::after,
    .date4::before,
    .date5::after,
    .date6::before {
        transform: translate(-0%);
    }
}

@media only screen and (max-width: 79em) {
    .indexSection .text h2 {
        font-size: 5rem;
    }

    .centerLine {
        height: 100%;
    }

    .timelineBox {
        width: 100%;
    }

    .date1::before,
    .date3::before,
    .date5::before {
        padding: 0 !important;
        left: 0 !important;
        top: 0 !important;
        transform: translateX(-70px);
        height: 6rem !important;
        width: 6rem !important;
    }

    .date2::after,

    .date4::after,

    .date6::after {
        top: 0 !important;
        left: 0 !important;
        padding: 0 !important;
        transform: translateX(-70px);
        height: 6rem !important;
        width: 6rem !important;
    }

    .date2::before,
    .date4::before,
    .date6::before,
    .date1::after,
    .date3::after,
    .date5::after {
        top: 0 !important;
        left: 3.1rem;
        transform: translateX(-70px);
        height: 3rem;
        width: 3rem;
    }

}


/* TABLET VIEWPORT */
@media only screen and (max-width: 72em) {
    img {
        width: 100%;
    }

    .indexSection {
        padding-left: 6rem;

    }

    #introductionSection,
    #ruleSection,
    #criteriaSection,
    #faqSection,
    #timelineSection,
    #prizeSection,
    #partnerSection,
    #privacySection,
    #footerSection,
    #contactSection {
        padding: 10rem 8rem;
    }

    .indexSection .text h2 {
        font-size: 4.6rem;
    }
}

/* SMALL SCREEN VIEWPORT */
@media only screen and (max-width: 67em) {
    .header {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .navBar {
        width: 70%;
    }

    .indexSection {
        padding-left: 4rem;
        padding-top: 2rem;

    }

    #introductionSection,
    #ruleSection,
    #criteriaSection,
    #faqSection,
    #timelineSection,
    #prizeSection,
    #partnerSection,
    #privacySection,
    #footerSection,
    #contactSection {
        padding: 8rem 2rem;
    }
}

/*  */
@media only screen and (max-width: 63em) {

    .indexSection .text h2 {
        font-size: 4rem;
    }

    #introductionSection,
    #ruleSection,
    #criteriaSection,
    #faqSection,
    #timelineSection,
    #prizeSection,
    #partnerSection,
    #privacySection,
    #footerSection,
    #contactSection {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .indexSection {
        /* flex-direction: column; */
        align-items: center;
        padding-left: 4rem;
    }

    .indexSection .text {
        width: 100%;
        margin-top: 5rem;
    }

    .indexParagraph {
        padding-right: 2rem;
        font-size: 2rem;
    }

    .indexSection .image {
        width: 100%;
    }

    .ignitingText {
        font-size: 2.4rem;
    }

    .criteriaImg,
    .faqImg {
        margin-top: 4rem;
        transform: scale(1);
    }

    .privacyImgBox {
        width: 100%;
        height: 100%;
    }

    .privacyImgBox::before {
        margin-top: 5rem;
        width: 58%;
        background-position: top center;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%);
    }

    .privacyImg {
        transform: scale(.8);
        margin-top: -10rem;

    }

    .timelineHeading {
        width: 50%;
    }

    .detail {
        width: 50%;
        justify-content: flex-start;
        padding: 2rem;
    }

    .detail .topic {
        font-size: 1.8rem;
    }

    .questionParagraph {
        font-size: 1.4rem;
    }

    .questionParagraph {
        font-size: 1.2rem;
    }
}

/*  */
@media only screen and (min-width:52em) and (max-width: 55em) {
    .curveLine {
        right: 13% !important;
    }
}


@media only screen and (max-width: 54em) {
    .indexSection {
        flex-direction: column;
        margin-top: 4rem;
    }

    /* ****************** MOBILE NAVIGATION ********************* */
    .hackathonContent {
        padding: 0 2rem;
    }

    .indexSection .text {
        width: 100%;
        margin-top: 5rem;
        align-items: center;
    }

    .indexParagraph {
        padding-right: 2rem;
        font-size: 2rem;
        text-align: center;
    }

    .openMenu#body {
        background-color: rgb(21, 14, 40, .7);
    }

    .header {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: 6rem;
    }


    .navBar {
        display: block;
        background-image: linear-gradient(90deg, #d434fe, #7F00FF);
        margin-top: .3rem;
        margin-left: -4rem;
        width: 100%;
        transform: translateX(-100%);
        padding: 4rem 2rem;
        transition: 300ms ease-in-out;
        z-index: 99999;
        opacity: 1;
        border-bottom-right-radius: 15px;
    }

    .openMenu.navBar {
        transform: translateX(0);
    }

    .navList {
        font-size: 2rem;
        padding: 2rem 1rem;
    }

    .navList:last-child {
        display: block;
        margin-left: 0;
        margin-top: 4rem;
        text-align: center;
        padding: 1rem;
        margin-left: 1rem;
    }



    .listBox {
        flex-direction: column;
    }

    .navMenuBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .menuBtn {
        background-color: #fff;
        position: absolute;
        /* right: 0; */
        /* transform: translate(-50%); */
        width: 100%;
        height: 100%;
        padding: .5rem;
        z-index: 10101090;
        cursor: pointer;
        border-radius: 5px;
        transition: 100ms;
    }

    .menuBtn svg {
        stroke: #d434fe;
        height: 3rem;
        width: 3rem;
    }

    #closeBtn {
        display: none;
    }

    .openMenu#closeBtn {
        display: block;
    }

    /* ********************************************** */

    .introContent,
    .ruleContent,
    .criteriaContent,
    .faqContent,
    .prizeContent,
    .privacyContent,
    .contactContent {
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 4rem;
    }

    .indexSection .text h2 {
        font-size: 3rem;
        text-align: center;
    }

    .prizeTextBox h3,
    .partnerTextBox h3,
    .privacyTextHeading h3 {
        font-size: 2.6rem;
    }

    .ignitingTextBox {
        font-size: 1.6srem;
        z-index: 9999;
        margin: 1rem auto;
        text-align: center;
        align-items: center;
    }

    .curveLine {
        z-index: 9999;
        right: 5%;
    }

    .countDownBox {
        margin-top: 4rem;
    }

    .privacyImg {
        margin-top: 15rem;
        transform: scale(.8);
        margin-top: 10rem;
        width: inherit;
        height: inherit;
    }

    .privacyImgBox::before {
        width: 100%;
        margin-top: 5rem;
        bottom: 0;
    }

    .partnerTextBox {
        width: 100%;
    }

    .contactTextBox {
        font-size: 1.4rem;
        padding-right: 0rem;
    }

    .fColumnParagraph {
        margin-bottom: 2rem;
    }

    .footerBox:first-child {
        padding-right: 0rem;
        grid-column: span 3;
        margin-bottom: 4rem;
    }

    .footerBox:last-child {
        grid-column: span 2;
    }

    .socialIconBox {
        display: flex;
        flex-direction: row;
    }

    .socialLebel {
        margin-right: 0;
    }

    .socialIconParagraph {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .timelineBox {
        align-items: flex-start;
        flex-direction: column !important;
        gap: 0;
        padding-left: 1rem;
    }

    .centerLine {
        left: 0;
    }

    .alignRight {
        text-align: left;
    }

    .timelineDate {
        width: 100%;
        padding: 2rem;
        padding-top: 0;
    }

    .detail {
        width: 100%;
    }
}

/*  */
@media only screen and (max-width: 43em) {
    .ignitingText {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 37em) {
    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #introductionSection,
    #ruleSection,
    #criteriaSection,
    #faqSection,
    #timelineSection,
    #prizeSection,
    #partnerSection,
    #privacySection,
    #footerSection,
    #contactSection {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .introTextBox h3,
    .ruleTextBox h3,
    .criteriaTextBox h3,
    .faqTextBox h3,
    .prizeTextBox h3,
    .partnerTextBox h3,
    .privacyTextHeading h3 {
        font-size: 2rem;
    }

    .indexSection {
        padding-right: 0;
        padding-left: 0;
    }

    .indexSection .text {
        margin-top: 0;
    }

    .indexParagraph {
        width: 100%;
        font-size: 1.6rem;
        padding: 2rem;
        text-align: center;
        margin: 0 auto;
    }

    .ignitingText {
        font-size: 1.8rem;
        text-align: center;
        margin: 2rem auto;
    }

    .curveLine {
        /* width: 0rem; */
        top: 3.2rem;
        left: 50%;
        transform: translateX(0);
    }

    .curveLine svg {
        height: 10px !important;
    }

    .criteriaTextBox h3,
    .faqTextBox h3,
    .prizeTextBox h3,
    .partnerTextBox h3,
    .privacyTextHeading h3 {
        font-size: 2.2rem;
        display: inline-flex;
        flex-direction: row;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }

    .criteriaList {
        font-size: 1.2rem;
    }

    .faqParagraph {
        font-size: 1.4rem;
    }

    .criteriaImg,
    .faqImg {
        transform: scale(1);
    }

    .introParagraph,
    .ruleParagraph {
        font-size: 1.2rem;
    }

    .questionBox {
        padding-right: 1rem;
    }

    .questionParagraph {
        font-size: 1.2rem;
    }

    .accordionIcon {
        font-size: 1.6rem;
    }

    .timelineHeading {
        width: 100%;
        margin-bottom: 4rem;
    }

    .timelineHeading p {
        font-size: 1.4rem;
        width: 90%;
    }

    .prizeTextBox {
        padding-right: 0;
    }

    .prizeTextBox p,
    .partnerParagraph {
        font-size: 1.4rem;
    }

    .detail .topicText {
        font-size: 1.2rem;
    }

    .contactFormBox {

        padding: 4rem 2rem;

    }
}

@media only screen and (max-width: 26em) {
    .ignitingText {
        font-size: 1.2rem;
        text-align: center;
        margin: 2rem auto;
    }

    .curveLine {
        /* width: 0rem; */
        top: 2.4rem;
        left: 43%;
        transform: translateX(0);
    }

    .curveLine svg {
        height: 8px !important;
    }
}